*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: 'OpenSans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
}

label {
  display: block;
  cursor: pointer;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}

/* убрать крестик у инпута */
input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* убрать стрелки от номера у инпута */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.anim-monkey {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 111;
  display: none;
}

.anim-monkey.active {
  display: flex;
}
.anim-monkey__box {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.anim-monkey__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 550px;
  margin-right: 20px;
  width: 0;
  height: 170px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.6s ease-in-out;
}

.anim-monkey__inner.active {
  width: 100%;

  /* padding-right: 160px; */
}

.anim-monkey__content {
  padding-right: 50px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.anim-monkey__content.active {
  opacity: 1;
}
.anim-monkey__title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.anim-monkey__descr {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.anim-monkey__content-btn {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  background-image: linear-gradient(90.45deg, #d722ff 0.39%, #9a32ef 102.83%);
  background-color: transparent;
  background-size: 100%;
  border-radius: 12px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.anim-monkey__content-btn::before {
  border-radius: 12px;
  background-image: linear-gradient(90.45deg, #d100ff 0.39%, #8908f2 102.83%);
  box-shadow: 0px 2px 23px 1px rgb(183 43 246 / 50%);
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.anim-monkey__btn-content {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
  animation-name: animateStart;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.anim-monkey__btn-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.anim-monkey__btn-box-side {
  position: absolute;
  top: 0;
  left: 0;
}

.anim-monkey__btn-box-side-1 {
  width: 100%;
  height: 100%;
}

.anim-monkey__btn-box-side-2 {
  width: 10px;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateX(5px) translateZ(-5px);
  background-color: rgba(4, 194, 207, 0.9);
}

.anim-monkey__btn-box-side-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(162, 230, 245);
  transform: rotateY(calc(90deg * var(--i))) translateZ(10px);
  transform-style: preserve-3d;
}

.anim-monkey__btn-box-side-3 span {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  transform: translateY(-50%) translateZ(10px);
}

.anim-monkey__btn-box-side-3 span:nth-child(1) {
  transform: translateY(-50%) translateZ(0px);
  color: rgba(0, 0, 0, 0.9);
  filter: blur(5px);
}

.anim-monkey__btn-box-side-4 {
  width: 10px;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateX(-5px) translateZ(-145px);
  background-color: rgba(4, 194, 207, 0.9);
}

.anim-monkey__btn-box-img {
  width: 100%;
  height: 100%;
}

.anim-monkey__btn-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background-color: rgba(4, 194, 207, 0.9);
  transform: rotateX(90deg) translateX(0) translateY(-5px) translateZ(5px);
}

.anim-monkey__btn-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background-color: rgba(4, 194, 207, 0.9);
  transform: rotateX(90deg) translateX(0) translateY(-5px) translateZ(-170px);
  box-shadow: 0px 5px 10px 2px rgba(4, 194, 207, 0.9) inset;
  filter: blur(5px);
}

@keyframes animateStart {
  0% {
    transform: rotateX(-10deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes animateStop {
  0% {
    transform: rotateX(-10deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-10deg) rotateY(360deg);
  }
}

.anim-monkey__btn-close {
  position: absolute;
  top: -32px;
  right: 0;
  z-index: 111;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.asteroid {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  animation-name: asteroid-move;

  animation: asteroid-move 5s ease-in-out 1 forwards;
}

.asteroid.active {
  display: block;
}

@keyframes asteroid-move {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(2000px, 1000px);
  }
}

.boom {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.boom.active {
  display: block;
}

.text {
  margin-top: 100px;
  margin-bottom: 100px;
}

.timer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer__btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  min-width: 300px;
  min-height: 45px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, rgb(221, 166, 218) 0%, rgb(214, 34, 175) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(218, 11, 156, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  opacity: 1;
  transform: translateY(0);
}

.timer__btn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 6px);
  min-height: calc(45px + 6px);
  border: 3px solid #d112d1;
  box-shadow: 0 0 30px rgba(119, 9, 110, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.timer__btn:hover,
.timer__btn:focus {
  transform: translateY(-6px);
}

.timer__btn:hover::before,
.timer__btn:focus::before {
  opacity: 1;
}

.timer__btn::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #d112d1;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.timer__btn:hover::after,
.timer__btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.timer__btn.active {
  opacity: 0;
  transform: translateY(-1000%);
}

.timer__time {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateX(-500%);

  border: 1px solid #d112d1;
  box-shadow: 12px 12px 24px rgba(218, 11, 156, 0.64);

  border-radius: 16px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.timer__time.active {
  opacity: 1;
  transform: translateX(0);
}
.timer__time-span {
  margin-right: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #d112d1;
  font-weight: 600;
}

.timer__link-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.timer__link-content.active {
  opacity: 1;
}

.timer__link {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}

.timer__link-btn {
  min-width: 300px;
  min-height: 40px;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #d112d1;

  text-decoration: none;
  border: 1px solid #d112d1;
  padding: 10px 20px;
  overflow: hidden;
  transition: 0.6s all ease;
  cursor: pointer;
  z-index: 1;
}

.timer__link-btn::before {
  background: #d112d1;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.timer__link-btn::before {
  width: 0%;
  height: 100%;
}

.timer__link-btn:hover::before {
  width: 100%;
}

.timer__link-btn:hover {
  color: white;
}

.timer__link-input {
  opacity: 0;
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: rotateX(90deg);
  transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
  z-index: 111;
}

.modal.open {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}

.modal__container {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 100%;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  min-height: 700px;
  max-width: 800px;
  overflow: hidden;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 111;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close svg {
  width: 15px;
  height: 15px;
}

.modal__article {
  padding: 20px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__article-top {
  display: flex;
}

.modal__left-btn {
  cursor: pointer;
}

.modal__article-left {
  width: 50%;
  margin-right: 15px;
}

.modal__article-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__right-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 32px;
  color: rgb(66, 64, 113);
  font-weight: 700;
}

.modal__right-title-list {
  font-size: 22px;
  line-height: 22px;
  color: rgb(132, 147, 166);
  font-weight: 600;
}

.modal__right-list {
  padding-left: 15px;
}

.modal__right-item {
  font-size: 14px;
  line-height: 16px;
  color: rgb(132, 147, 166);
  font-weight: 600;
  list-style-type: circle;
}

.modal__article-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modal__bottom-left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.modal__bottom-span {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(66, 64, 113);
  font-weight: 800;
}

.modal__bottom-btn {
  padding-left: 25px;
  padding-right: 25px;
  height: 48px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(186, 109, 236);
  border: 1px solid rgb(186, 109, 236);
  font-weight: 800;
  background-color: transparent;
  border-radius: 44px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.cube {
  margin-top: 150px;
  margin-bottom: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube__inner {
  transform-style: preserve-3d;
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
  animation: cube 10s linear infinite;
}

.cube__img {
  position: absolute;
  opacity: 0.9;
}

.cube__img-1 {
  transform: rotateY(0deg) translateZ(74px);
}

.cube__img-2 {
  transform: rotateY(90deg) translateZ(74px);
}

.cube__img-3 {
  transform: rotateY(180deg) translateZ(74px);
}

.cube__img-4 {
  transform: rotateY(-90deg) translateZ(74px);
}

.cube__img-5 {
  transform: rotateX(90deg) translateZ(74px);
}

.cube__img-6 {
  transform: rotateX(-90deg) translateZ(74px);
}

@keyframes cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.wave {
  opacity: 0.6;
  position: absolute;
  bottom: 75%;
  left: 50%;
  width: 2000px;
  height: 2000px;
  background: linear-gradient(90deg, rgb(221, 166, 218) 0%, rgb(214, 34, 175) 100%);
  margin-left: -1000px;
  transform-origin: 50% 48%;
  border-radius: 50%;
  animation: wave 5s infinite linear;
  pointer-events: none;
}

/* .wave {
  margin: -500px;
  position: absolute;
  top: -25%;
  left: 50%;
  width: 1000px;
  height: 1025px;
  border-radius: 45%;
  background: linear-gradient(90deg, rgb(221, 166, 218) 0%, rgb(214, 34, 175) 100%);
  z-index: 111;
  opacity: 1;
  animation: wave 15s infinite linear;
}

.wave::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40%;
  background: linear-gradient(90deg, rgb(221, 166, 218) 0%, rgb(214, 34, 175) 100%);
  z-index: 11;
  opacity: 0.6;
  animation: wave2 25s infinite linear;
}

.wave::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35%;
  background: linear-gradient(90deg, rgb(221, 166, 218) 0%, rgb(214, 34, 175) 100%);
  z-index: 11;
  opacity: 0.4;
  animation: wave3 25s infinite linear;
} */

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes wave2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
} */

/* hover */
@media (min-width: 1024px) {
  .timer__link:hover {
    opacity: 0.5;
  }

  .anim-monkey__content-btn:hover::before {
    opacity: 1;
  }

  .modal__bottom-btn:hover {
    opacity: 0.7;
  }
}

/* active, focus */
.anim-monkey__content-btn:active {
  background-image: linear-gradient(90.45deg, #4e0b5e 0.39%, #8908f2 102.83%);
}

@media (max-width: 768px) {
  .anim-monkey__inner {
    margin-left: 10px;
    height: 200px;
  }
  .anim-monkey__content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .anim-monkey__btn {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .anim-monkey__inner {
    margin-right: 5px;
    height: 250px;
  }
  .anim-monkey {
    right: 10px;
  }
  .anim-monkey__btn-content {
    width: 120px;
    height: 120px;
  }
  .anim-monkey__btn-top {
    width: 120px;
  }
  .anim-monkey__btn-bottom {
    width: 120px;
  }
  .anim-monkey__btn-box-side-4 {
    transform: rotateY(calc(90deg * var(--i))) translateX(-5px) translateZ(-115px);
  }
  .anim-monkey__title {
    max-width: 200px;
  }

  .modal__article {
    margin-top: 100px;
  }
  .modal__article-top {
    flex-direction: column-reverse;
  }

  .modal__article-left {
    width: 100%;
  }

  .modal__article-right {
    width: 100%;
  }

  .cube {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cube__inner {
    width: 90px;
    height: 90px;
  }

  .cube__img-1 {
    transform: rotateY(0deg) translateZ(45px);
  }

  .cube__img-2 {
    transform: rotateY(90deg) translateZ(45px);
  }

  .cube__img-3 {
    transform: rotateY(180deg) translateZ(45px);
  }

  .cube__img-4 {
    transform: rotateY(-90deg) translateZ(45px);
  }

  .cube__img-5 {
    transform: rotateX(90deg) translateZ(45px);
  }

  .cube__img-6 {
    transform: rotateX(-90deg) translateZ(45px);
  }

  .modal__article-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .timer {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .anim-monkey__inner {
    height: 300px;
  }
}
